*.iml
.gradle
/local.properties
.DS_Store
/build
/gradle
/projectFilesBackup
.idea
/captures
.navigation
*.log
projectFilesBackup1/
HomeInter/
app/src/main/java/com/longhan/huang/homeinter/module/UserInfo.java
app/src/main/res/drawable/ic_android_black_24dp.xml
